#header,#header *,#sub_nav,#footer,.mainbottom,.breadcrumb{
    display: none;
}
#wrapper{
    display: block;/*otherwise text cut at bottom*/
}

body{
    height: 100%;/*otherwise text cut at bottom*/
}
#content{
    width: 21cm; /*without text is cut to the right of the page*/
    position: absolute;top:0;/*position to top 0 otherwise ther's a blank page*/  
}