@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="facebook"]:before {
	color:#3B5999;
}

[class*="twitter"]:before {
	color:#00aced;
}

[class*="bullhorn"]:before {
	color:#1111A7;
}

@media screen and (min-width: 601px){

	.footer{
		float:left;
		display:block;
		position:absolute;
		bottom:0px;
		top:auto;
		margin-left:auto;
		margin-right:auto;
		font-size:250%;
	}
	
	.footer ul{
		list-style-type:none;
	}
	
	.footer ul li{
		float:left;
		display:inline;
	}
	
	.footer ul li span {
		float:left;
		padding-left:0.1em;
		padding-right:0.1em;
		padding-top:-0.5em;
		padding-bottom:-:0.5em;
		font-size:250%;
	}
}