/* -------------------------------------------------------------- 
  
   style.css
   * Main CSS file.
   
-------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Oswald:400|Euphoria+Script);


/* === Main Section === */
* { margin: 0; padding: 0; outline: 0; }

html, body {
	width: 100%;
	height: 100%;
	
	min-width: 480px;
	min-height: 640px;
	
	font: 1em 'Myriad Pro', 'Open Sans', sans-serif;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

img { display: block ;}

body { 
	background: #39a8d4 no-repeat center top fixed;
	
}

::-webkit-input-placeholder { color: #DDD }
:-moz-placeholder { color: #DDD }
:-ms-input-placeholder { color: #DDD }

.clear { clear: both }

#wrapper {
	margin: 0 auto;
	width: 768px;
	
}

/* === Header Section === */
header {
	padding-top: 30px;
}

#logo {
	font: bold 3.5em 'Oswald';
	text-align: center;
	text-shadow: 1px 1px 2px #9C9C9C;
}

/* === Timer Section === */
#countdown {
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

.lable {
	font-size: 1.0em;
	color: #DADADA;
	text-shadow: 1px 1px 1px #9C9C9C;
	text-align: center;
	opacity: .6;
}






/* === Subscribe form & Social icons Section === */
#communication {
	margin-top: 135px;
}

#email,
#social {
	width: 500px;
}

#email {

}


#social {
	float: right;
}

#email h3.title, 
#social h3.title {
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 1px 1px #111;	
}

#email > .body {
	text-align: center;
}

#email form {
	margin: 20px 0;	
}

#email form > input {
	padding: 0 10px;
	width: 200px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .3)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	background-image:      -o-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	background-image:         linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#4C000000)"; /* IE8 */
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#4C000000);   /* IE6 & 7 */
    	  zoom: 1;

	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
	
	color: #EEE;  
	
	-webkit-transition: box-shadow 0.2s ease; 
	   -moz-transition: box-shadow 0.2s ease; 
	     -o-transition: box-shadow 0.2s ease; 
	        transition: box-shadow 0.2s ease; 
}

#email form > input.notvalid {
	-webkit-box-shadow: 1px 1px 3px 0px transparent, inset 0px 0px 10px 0px rgba(100, 0, 0, 0.7) !important;
	   -moz-box-shadow: 1px 1px 3px 0px transparent, inset 0px 0px 10px 0px rgba(100, 0, 0, 0.7) !important;
	        box-shadow: 1px 1px 3px 0px transparent, inset 0px 0px 10px 0px rgba(100, 0, 0, 0.7) !important;
}

#email form > button {
	margin-left: 5px;
	padding: 0 10px;
	height: 31px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, .3)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	background-image:      -o-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3)); 
	background-image:         linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#4C000000)"; /* IE8 */
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#4C000000);   /* IE6 & 7 */
    	  zoom: 1;
	
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
 	        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
 	        
	color: #DDD;
	cursor: pointer;
	
	-webkit-transition: all 0.2s ease; 
	   -moz-transition: all 0.2s ease; 
	     -o-transition: all 0.2s ease; 
	        transition: all 0.2s ease; 
}

#email form > button:hover {
	color: #EEE;
}


#email form > input:focus,
#email form > button:active {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0), inset -1px 2px 3px -1px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0), inset -1px 2px 3px -1px rgba(0, 0, 0, 0.4);
	        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0), inset -1px 2px 3px -1px rgba(0, 0, 0, 0.4);
	
	color: #EEE;
}

#thank-you {
	margin: 20px 0;
	height: 32px;
	font-size: 1.1em;
	opacity: 0
}

#social > .body {
	text-align: center;
}

/* === Icons Section === */
#icons {
	margin: 40px auto 0;
	list-style: none;
	display: inline-block;
}

#icons > li {
	margin: 10px 10px;
	float: left;
	
}

#icons > li a {
	width: 32px;
	height: 32px;
	opacity: .6;
	display: block;
	
}

#icons > li a:hover { opacity: 1; }

#icons .fb 			{ background-image: url(fb.png)}




#donation_slide{
	background:#8e44ad;
	width: auto;
	height: auto;
	clear:both;
	padding: 20px calc(50% - 345px);
	
	
	
}

#btn_soutien{}

#videoyoutube {
	/* -moz-box-shadow: 0 0 5px 5px #555;
	-webkit-box-shadow: 0 0 5px 5px #555;
	box-shadow: 0 0 5px 5px #555; */
	
	
	width: auto;
	height: auto;
	background:#16a085;
	clear:both;
	padding-top:20px;
	padding-bottom:20px;
}




#vid1{float:left; width:280px;display:inline-block;margin-left:calc(50% - 350px);margin-bottom:20px}
#vid2{float:right;width:280px;display:inline-block;margin-right:calc(50% - 350px);margin-bottom:20px}


#vid1 > ul {
	font-size: 10pt;
	margin:5px 10px 0 25px ;
	color:#E4E4E4
	
 }
#vid2 > ul {
	font-size: 10pt; 
	margin:5px 10px 0 30px ;
	color:#E4E4E4
	  }


ul.vid_li li{
	
	padding-bottom:10px;
	
}

#vid1 > div > p, #vid2 > div > p  {text-align: center;font-size:14pt;color:white;}


#spacediv3 {width:auto; clear:both;}




#backgroudimage {height:430px;}
#backgroudimage ul li img {display:block; margin:auto;}

#divbackgroud{display:inline-block;text-align:center;width:768px;}

#background-slide{list-style-type:none;text-align:center;}

#textbackground{
text-align: center;
width: 100%;
margin-bottom:20px;
}

#back{text-align:center;width:768px;}

#fb-follow {display:inline-block; float:right}

























/* === Mobile Devices Section === */
@media screen and (max-width: 480px),
screen and (max-device-width: 480px) {
	html, body {
		min-width: 0;
		min-height: 0;
	}

	#wrapper,
	#count-wrap {
		margin: 0;
		width: 100%;
	}
	
	header {
		padding-top: 15px;
	}
	
	#logo {
		font-size: 2.5em;
	}
	
	#count-wrap .number_wrapper {
		text-align: center;
	}
	
	#count-wrap .num {
		font: bold 4em Oswald;
		color:#DADADA;
		text-shadow: 1px 1px 2px #9C9C9C;
		display: inline-block;
	}
	
	#count-wrap .num > div:last-child { display: none; }
	
	#progressbar {
		margin: 20px auto;
		width: 90%;
	}
	
	#progressbar > .wrap {
		width: 90%;
	}
	
	#communication {
		margin-top: 50px;
	}
	
	#email { float: none }
	#social {
		float: none;
		margin-top: -35px;
		padding-bottom: 25px;
	}
	
	#email, #social {
		width: auto;
	}
}

@media screen and (min-width: 481px) {	
	#count-wrap .num {
		width: 70px;
		height: 150px;
		font: 6em Oswald;
		text-align: center;
		
		color:#DADADA;
		text-shadow: 1px 1px 2px #9C9C9C;
		
		float: left;
		overflow: hidden;
	}
	
	#count-wrap .number_wrapper {
		margin-right: 40px;
		display: inline-block;
	}
	
	#count-wrap .number_wrapper.nmr {
		margin-right: 0;
	}
}


/* === iPad Section === */
@media screen and (min-width: 481px) and (max-width: 1024px), 
screen and (min-device-width: 481px) and (max-device-width: 1024px) { 
	body { background-image: url(../img/bg4_1280.jpg) !important }
	
	#communication {
		margin-top: 105px;
	}
}

@media screen and (min-width: 768px) and (max-width: 768px), 
screen and (min-device-width: 768px) and (max-device-width: 768px) { 
	body { background-image: url(../img/bg4_x1024.jpg) !important }
}

/* === Different Resolutions Section === */
@media screen and (min-width: 1025px) and (max-width: 1440px),
screen and (min-device-width: 1025px) and (max-device-width: 1440px) { 
	body { background-image: url(../img/bg4_1440.jpg) }
}

@media screen and (min-width: 1441px) and (max-width: 1920px),
screen and (min-device-width: 1441px) and (max-device-width: 1920px) { 
	body { background-image: url(../img/bg4_1920.jpg) }
}

@media screen and (min-width: 1921px),
screen and (min-device-width: 1921px) { 
	body { background-image: url(../img/bg4_2880.jpg) }
}
