/************** GENERAL ******************************************/
/*********images*************/

.beta{
	float:left;
	padding-top:25px; 
	padding-left:10px;
}

.hoverImage:hover{
	opacity:0.65;
	cursor: pointer;
}

.icon-32{  /* Because i'm to lazy to go in GIMP and change every icons we have to 32px... */
    width:32px;
    height: 32px;
}
.icon-11{  /* Because i'm to lazy to go in GIMP and change every icons we have to 32px... */
    width:11px;
    height: 11px;
}

#CU3ER-container{
}

.center-align { /* use this class instead of <center>*/
    text-align: center;
}

/**upload form**/
.uploadBtn{
    border: none;
    background: url('/images/_global/folder_icon.png') no-repeat top left;
    width:32px;
    height:32px;
}
.saveBtn{
    border: none;
    background: url('/images/_global/save.png') no-repeat top left;
    width:28px;
    height:28px;
}
.delete{
	color:grey;
}
.delete:hover{
	color:red;
}
/*********** bordel à classer********/

.divButton{
	cursor: pointer;
}
.commentLink:hover{
	cursor: pointer;
	cursor: hand;
	background-color: grey;
	color: white;
}
.inline-block{
	display:inline-block;
	zoom: 1; /*for ie http://haslayout.net/haslayout*/
    *display: inline; /*ie7 and below star hack http://www.ejeliot.com/blog/63 */
}
.div-align-center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.title{
	font-size: 26px;
    color:rgb(67, 84, 126);
    font-weight: bold;
}
.subtitle{
    color:rgb(67, 84, 126);
    font-weight: bold;
    text-decoration: underline;
	
}
.logo{
	font-size: 40px;
	float:left;
}

/*Separating line*/
.line{
	color:rgb(67, 84, 126);
}

.v-2{
	 background-image:url("/images/vote/minus2big.png");
}
.v-1{
	 background-image:url("/images/vote/minusbig.png");
}
.v0{
	 background-image:url("/images/vote/neutralbig.png");
}
.v1{
	 background-image:url("/images/vote/plusbig.png");
}
.v2{
	 background-image:url("/images/vote/plus2big.png");
}


.v-2.selected, .v-2:hover {
	 background-image:url("/images/vote/minus2bigplain.png");
}
.v-1.selected, .v-1:hover {
	 background-image:url("/images/vote/minusbigplain.png");
}
.v0.selected, .v0:hover {
	 background-image:url("/images/vote/neutralbigplain.png");
}
.v1.selected, .v1:hover {
	 background-image:url("/images/vote/plusbigplain.png");
}
.v2.selected, .v2:hover {
	 background-image:url("/images/vote/plus2bigplain.png");
}


.vote{
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	text-align: center; 
	cursor: pointer;
	margin-right: 53px;
}

.smallvote{
	display: inline-block;
	width: 17px;
	height: 18px;
	text-align: center; 
	cursor: pointer;
	/* background-image:url("/images/vote/grey.jpg"); */
}

.sv-2{
	background-image:url("/images/vote/minusempty.png");
}
.sv-1{
	background-image:url("/images/vote/minusempty.png");
}
.sv0{
	background-image:url("/images/vote/neutral.png");
}
.sv1{
	background-image:url("/images/vote/plusempty.png");
}
.sv2{
	background-image:url("/images/vote/plusempty.png");
}


.sv-2:hover{
	background-image:url("/images/vote/minus2.png");
}
.sv-1:hover{
	background-image:url("/images/vote/minus.png");
}
.sv0:hover{
	background-image:url("/images/vote/neutral.png");
}
.sv1:hover{
	background-image:url("/images/vote/plus.png");
}
.sv2:hover{
	background-image:url("/images/vote/plus2.png");
}

.vote:hover{
	font-weight : bold;
}

.selected{
/* 	border: 3px solid #000; */
}

.selectedsmall-2{
	background-image:url("/images/vote/minus2plain.png");
}

.selectedsmall-1{
	background-image:url("/images/vote/minusplain.png");
}

.selectedsmall0{
	background-image:url("/images/vote/neutralplain.png");
}

.selectedsmall1{
	background-image:url("/images/vote/plusplain.png");
}

.selectedsmall2{
	background-image:url("/images/vote/plus2plain.png");
}


.upvote {
	width:100%; height:16px;
	margin-top:16px;
	background-image:url("/images/vote/arrowuplight.png");
    background-position:center;
	background-repeat:no-repeat;
}

.upvote.selected {
	 background-image:url("/images/vote/arrowupplain.png");
}

.upvote:hover {
	 background-image:url("/images/vote/arrowup.png");
}


.downvote {
	width:100%; height:16px;
	margin-bottom:16px;
	background-image:url("/images/vote/arrowdownlight.png");
    background-position:center;
	background-repeat:no-repeat;
}

.downvote.selected {
	 background-image:url("/images/vote/arrowdownplain.png");
}

.downvote:hover {
	 background-image:url("/images/vote/arrowdown.png");
}



.login-link{
	/* padding-right:65px;*/
 	text-align: right; 
 	color:#5581C0;
/* 	float:right; */
/* 	position:relative; */
/* 	width:200px;	 */
}
.login-link a{
	color:#7D92B9 ;
	text-decoration: none;
}
.login-link a:hover{
	color:#444;
	text-decoration: none;
}
.error{
    color:rgb(255, 60, 60);
    font-weight: bold;
    text-decoration: underline;
}
/***********************Badge*******************************/

.badges-page .mb {
margin-bottom: 15px;
overflow: auto;
}
.badges-page #badge-legend .mb {
overflow: visible;
overflow-x: visible;
overflow-y: visible;
}
#mainbar, .mainbar {
float: left;
margin-bottom: 40px;
width: 500px;
}
#sidebar, .sidebar {
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
float: right;
margin-bottom: 60px;
width: 220px;
}
.badges-page, .badge-cell {
height: 32px;
width: 215px;
}
.module {
color: #444;
padding: 0 8px 2px 8px;
padding-top: 0px;
padding-right: 8px;
padding-bottom: 2px;
padding-left: 8px;
margin-bottom: 10px;
}
.module .h4 {
line-height: 1.4;
font-size: 130%;
padding-bottom: 7px;
}
.badge,.badge-tag{
   color:#fff !important;
   background-color:#333;
   font-size: 14px;
   border:1px solid #333;
   margin:0 3px 3px 0;
   padding:0px 6px 0px 3px;
   display:inline-block;
   text-decoration:none;
   white-space:nowrap;
   line-height:24px;
	border-radius:6px;
    
}

.badge1 {
background-position: -40px -1034px;
background-position-x: -40px;
background-position-y: -1034px;
background-image: url('/images/sprites.png?v=5');
background-repeat: no-repeat;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
}

.badge2 {
background-position: -20px -1034px;
background-position-x: -20px;
background-position-y: -1034px;
background-image: url('/images/sprites.png?v=5');
background-repeat: no-repeat;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
}

.badge3 {
background-position: 0px -1034px;
background-position-x: 0px;
background-position-y: -1034px;
background-image: url('/images/sprites.png?v=5');
background-repeat: no-repeat;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
}


.badge-earned-check {
background-position: 0px -609px;
background-position-x: 0px;
background-position-y: -609px;
width: 20px;
height: 23px;
display: inline-block;
}
.badge1, .badge2, .badge3 {
display: inline-block;
width: 6px;
height: 11px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
line-height: inherit;
vertical-align: text-bottom;
margin: 0 1px 1px 3px;
margin-top: 0px;
margin-right: 1px;
margin-bottom: 1px;
margin-left: 3px;
}

.badge:hover, .badge-tag:hover {
border: 1px solid #555;
border-top-color: #555;
border-top-style: solid;
border-top-width: 1px;
border-right-color: #555;
border-right-style: solid;
border-right-width: 1px;
border-bottom-color: #555;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #555;
border-left-style: solid;
border-left-width: 1px;
background-color: #555;
text-decoration: none;

}

.item-multiplier {
font-size: 90%;
font-weight: bold;
color: #444;
}

.dataBadge{
	font-size: 14px;
}

/************** Article ******************************************/

/***Display***/
.article_summary{
	padding:20px;  /*Space with bg color additionnally to the margin-top*/
	background-color:#f8f8f8;
}

.action-list-item{
	font-size:0.9em;
	padding:5px 37px 5px 18px;
	margin:10px;
	width:245px;  /* To adapt bg image size (and padding)*/
	height: 52px; /* To adapt bg image size (and padding)*/
	background-image:url("/images/tape1item.png");
    font-family: Vivaldi, Comic Sans MS, Cursive;  
}

.goodexample-list{
	font-size:0.9em;
	padding:5px 37px 5px 18px;
	margin:10px;
	width:245px;  /* To adapt bg image size (and padding)*/
	height: 122px; /* To adapt bg image size (and padding)*/
	background-image:url("/images/tape5items.png");
	font-family:"helvetica neue", Helvetica, Arial, Verdana, sans serif;  
}

.untranslated,.translated{
	/*if not inline-block the jquery slideshow will not be visible*/
	display:inline-block;	
}
.untranslatedcontent,.translatedcontent{
	 width:715px; display:block;
}
.untranslatedcontent{
	float:left;
}
.translatedcontent{
	float:right;
}
.untranslatedcontent p,.translatedcontent p{
	margin-top: 0px !important;
}
.untranslatedoption,.translatedoption{
	width: 25px; display:block;
	vertical-align: middle;
}
.untranslatedoption{
	float:right; 
	padding-left: 20px;
}
.translatedoption{
	float:left;
	padding-right: 10px;
}

.untranslatedButton,.translatedButton {
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	font-size:9px;
	font-weight:bold;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}.translatedButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.translatedButton:active {
	position:relative;
	top:1px;
}

.page-menu-links {
	font-size:12px;
	margin-top: -10px;  /* to get closer to the breadcrumb */
	margin-bottom: 15px;
}


.small-text{
	font-size:12px;
}

.article-liens{
	font-size:9px;
	
}

.article-title{
	float:left;
	width: 770px;
}
.article-shortname{
	text-align:right;
	
}
.bibref-after-block {
	color: #AAA;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 0.6em;
	text-align: right;
	margin-left: 50px;
	
}

.quote{
    color:#777;
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
	font-size: 1.05em;
}

.quote-block{
	margin: 0;
	padding-left: 40px;
	background-image:url(/images/quoteicon.png);
	background-position: 0px 5px;
	background-repeat: no-repeat;
}

.todo{
	background-color:yellow;
}

/* Css for the description of article in the article-list page*/
.descriptNotPublish {
	padding-top: 4px;
	padding-bottom: 8px;
	font-size: 0.85em;
	color: #AAA;
}
.descriptPublish {
	padding-top: 4px;
	padding-bottom: 8px;
	font-size: 0.85em;
	color: #444;
}



.datepublication {
	float: right;
	font-size: 10px;
	color: #AAA;
}

/* div defining the content of a book displayed on the bibliography page and in the tooltip */
.book{
    text-align: left; /* to avoid jquery bubblepopup text-align: center*/ 
}

.book .bookInfo{
	font-size:0.8em;
	font-style: italic;
	text-align: right;
	margin-top:2px;
}

.bookTitle{
	font-size:1.1em;
}	
.bookSubTitle{
	font-size: 0.78em;
}
.book .bookContent{
	font-size:1.2em;
}
.book > a{
    font-size:1.5em;
}
.book img {
	float:left;
	margin-right: 15px;
}

.authorbook {   /* Inside tooltip  */
	font-size: 70%;
}

/********Edit********/
/***helpbox***/
#helphandle{
    display:none; /* don't diplay "?" when javascript disable*/ 
}
#helphandle , #helphandle > div {/*#helphandle, #helptext define the position of the help button and its text*/ 
	position: fixed;
	z-index: 100;
}
#helphandle > div {/*defines the help text*/
	padding:20px 20px 20px 20px; /* configure a padding top, right, bottom,left */
	color: white;
	width: 690px;       
    height: 400px;
	background: #1C2F4F;
	border: solid 3px white;
	opacity:0.95;
	overflow:auto;
}
#helphandle > span{/*define the question mark of the help text*/
    font-weight: bold;
	color:#182947;
	cursor: pointer;
}

#underlineUser:hover{
	text-decoration:underline;
}
/***************ArticleVersionCompare***********************/
.versionCompare {
	width: 49%;
	display:inline-block;
	vertical-align:top;
}
.versionCompareSegment {
	width: 100%;
}


/**********************User Tag***************************/

.avatar{
	width: 60px;
	float: left;
}

.a-name{
	margin-bottom: 0;
	line-height: 20px;
	overflow: hidden;
	display:block;
	font-size: 14px;
}

.lien{
	float: left;
	margin-bottom: 3px;
}

.usertitle{
	color: #BBB;
	text-decoration: none;
	clear:left;
	padding-bottom: 5px;
	font-size: 11px;
	line-height: 15px;
}


.actionRow{
	margin-bottom:10px;
	padding-bottom: 5px;
	padding-top: 5px;
/* 	background: url(/images/_global/separator3.gif) 0 0 repeat-x; */
	margin-top:10px;
}
.actionTitle{
	font-size:18px;
	margin-bottom:5px;
}
.actionShortDescription{
	margin-top:5px;
	margin-bottom:5px;
}

#notificationArea{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	background-color:#FFEF00;
	text-align:center;
	position:absolute;
	border-style:solid;
    border-width:1px;
}

/************************************************ Footer ****************/

.footer-column {
	width:221px;
	display: inline-block;
	vertical-align: top;
	color:#000000;
	margin-right:20px;
}


.footer-title {
	background-image:url("/images/separatorfooter.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	text-transform:uppercase;
	color:#000000;
	display:block;
	font-size:13px;
	letter-spacing: 0.5px;
	padding-bottom: 12px;
	margin-bottom: 12px;
/* 	font-weight: bold;
 */}


/******************************************************************/

.jscarousal-horizontal-back {
	background-image:url("/images/videoarrowleftgrey.png") !important;
	height:123px !important;
}

.jscarousal-horizontal-forward {
	background-image:url("/images/videoarrowrightgrey.png") !important;
	height:123px !important;
}

.jscarousal-horizontal-back:hover {
	background-image:url("/images/videoarrowleft.png") !important;
}

.jscarousal-horizontal-forward:hover {
	background-image:url("/images/videoarrowright.png") !important;
}

.frametitle {
	font-family:'ColaborateLightRegular', Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#BC1C1C;
	margin-bottom:15px;
}