@media only screen and (max-width: 992px) {

    .col-md-3 #footerLogo{
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    .col-md-3 #version{
       float:left;
       position: relative;
        bottom:-39.5em;
    }

    .col-md-2 #FBbox{
       margin-top: 0.5em;
    }
}
@media only screen and (min-width: 993px) {

    .col-md-3 #footerLogo{
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    .col-md-3 #version{
	   float:left;
	   position: relative;
    	bottom:-7.2em;
    }

    .col-md-2 #FBbox{
	   margin-top: 3.8em;
    }
}

/*#### Horribly Hacky invalid CSS to catch error in IE<=10 using error in their CSS Parser. ###*/
@media screen\0 {
    #mainLogo {
                height: 164px;
                width: 500px;
              }
}
