.resource-content-exp {
	display: inline-block;
 	width: 380px; 
 	min-height: 250px; 
	background: white;

	position: absolute;
}

.resource-content-small {
	height:100%;
}

.resource-content-small img {
	max-width: 100%;
}

/* .resource-content-hidden {
	display: none;
} */

.resource-content-exp {
	display: block;
} 

.resource-content-small .imgDiv ,
.resource-content-small .descriptionDiv {
	width:100% !important;
}

.resource-content-small .lead {
	cursor : pointer;
}

@media only screen and (max-width: 992px) {
    #urlresource{
    	display:block;
    	white-space: nowrap; 
        max-width: 40ex; 
    	overflow: hidden;
        text-overflow: ellipsis; 
    }
}