/*resource-image-gallery.css*/
ul#list-photos {
    list-style: none outside none;
    padding-left: 0;
}
ul#list-photos li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #212326;
    cursor: move;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}