body
{
	margin : 0;
	padding : 0;
}


object
{
    position: fixed;
    bottom: 0px;
}
	
	
#parallax-bg1 
{
    z-index: 100;
}
 #parallax-people
{
    z-index: 110;
}	
	
#parallax-bg2 
{
    z-index: 120;
}

#parallax-bg3 
{
    z-index: 130;
}		
