#navheader>li>a ,#titleheader {
color: #f4f19a;
}
#navbarheader{
	background-color:#362b00;
}


body {
    margin-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	font-family: "itcgaramondstdbk";
	font-style:normal;
	overflow-x : hidden;
	background-color: rgb(57,140,190);
    font-size: 200%;
	color: #fff;
	text-align: left;
}


.container {
        max-width: 800px;
}



.navbar {
}

a {
	color: #f4f19a;
}

.cream {
	color: #f4f19a;
}

p.lettrine:first-child:first-letter
{	
	font-size:470%;	
	color: #f4f19a;
	float:left; 
   	padding-right:10px; 
   	line-height:90%;
}

h1 {
    font-size: 200%;
	text-align: left;
	font-family: "bauerbodonistd";
	font-style:italic;
	color: #f4f19a;
	text-align:left;
}


h2 {
    font-size: 200%;
	text-align: right;
	font-family: "bauerbodonistd";
	font-style:italic;
	color: #f4f19a;
	opacity: 0.5;
}

#countdown-container{
	text-align: center;
	/* 
	font-family: "itcgaramondstdbk";
	font-style:normal; 
	*/
}


.countdown {
	font-size: 200%;
}

#coming-date{
	font-size:85%;
}


.fb-like-box{
	margin-left:auto;
	margin-right:auto;
	
}




.yellowborder  {
	border-color: #f4f19a;
	border-style: solid;
	border-width: 1px;
}



.featurette-divider {
    margin: 40px 0;
    border-color: #f4f19a;
}



.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}




@font-face {
    font-family: 'bauerbodonistd';
    src: url('../fonts/BauerBodoniStd-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'bauerbodonistd';
    src: url('../fonts/BauerBodoniStd-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itcgaramondstdbk';
    src: url('../fonts/ITCGaramondStd-Bk.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itcgaramondstdbk';
    src: url('../fonts/ITCGaramondStd-BkIta.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'itcgaramondstdbk';
    src: url('../fonts/ITCGaramondStd-Bd.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'itcgaramondstdlt';
    src: url('../fonts/ITCGaramondStd-Lt.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minionproregular';
    src: url('../fonts/MinionPro-Regular.otf');
    font-weight: normal;
    font-style: normal;

}



